.popular-container {
    display: flex;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}

.popular-container img {
    width: 100%;
    /*height: 350px;*/
    object-fit: cover;
    scroll-snap-align: center;
}