.header {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerNav {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.headerLink {
    list-style: none;
}

.headerForm {
    border-radius: 15px;
}

.headerLinkInfo {
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.headerLinkInfo:hover{
    color: gold;
}